# Copy from .env.local on the Vercel dashboard
# Recommended for most uses
DATABASE_URL=postgres://neondb_owner:iQZqp17yhGKV@ep-dry-fog-a4otcbcd-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:iQZqp17yhGKV@ep-dry-fog-a4otcbcd.us-east-1.aws.neon.tech/neondb?sslmode=require

# Parameters for constructing your own connection string
PGHOST=ep-dry-fog-a4otcbcd-pooler.us-east-1.aws.neon.tech
PGHOST_UNPOOLED=ep-dry-fog-a4otcbcd.us-east-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=iQZqp17yhGKV

# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgres://neondb_owner:iQZqp17yhGKV@ep-dry-fog-a4otcbcd-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:iQZqp17yhGKV@ep-dry-fog-a4otcbcd.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-dry-fog-a4otcbcd.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=iQZqp17yhGKV
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgres://neondb_owner:iQZqp17yhGKV@ep-dry-fog-a4otcbcd-pooler.us-east-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgres://neondb_owner:iQZqp17yhGKV@ep-dry-fog-a4otcbcd-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&pgbouncer=true&connect_timeout=15


# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth